$grid-breakpoints: (xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1366px,
    xl: 1920px);

$container-max-widths: (sm: 768px,
    md: 930px,
    l: 1000px,
    lg: 1280px,
    xl: 1800px);

@function get-breakpoints($key: "") {
    @return map-get($grid-breakpoints, $key);
}

@function get-width($key: "") {
    @return map-get($container-max-widths, $key);
}

$darktheme-background: #0D0F11;
$darktheme-textcolor-gold: #FBC403;
$darktheme-buttoncolor-brown: #BF9456;
$darktheme-card-bg: #1A1D21;
$darktheme-card-bg-opac: rgba(26, 29, 33, 0.3);
$darktheme-card-bg2:#23262A;


@media screen and (max-width: 1366px) {

    .primary {
        .btn-view {}

        &__section-landing {
            grid-template-rows: 80% 20%;

            &__nav {
                width: 1000px;

                &__branding {
                    height: 90px;
                    width: 260px;
                }

                &__navigation {
                    width: auto;

                    ul {
                        li {
                            margin: 0 10px;

                            a {
                                font-weight: 600;
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }

        &__section-about {
            width: get-width("l");

            &__showcase {
                width: get-width("l");
            }

        }

        &__showcase {
            .owl-slider {}

            .showcase_caption {
                .caption_title {

                    &::after {}
                }

                .caption_desc {

                    &--title {}
                }

                .caption_btn {}
            }
        }


        &__section-services {
            width: 100%;

            &__container {
                width: get-width("lg");

                .card--container {
                    width: inherit;

                    &__inner-card {
                        width: 380px;

                        .picture-container {
                            .picture-holder {}
                        }
                    }
                }
            }
        }

        &__parallax {
            &__quote {
                .inner__message {
                    h4 {
                        font-size: 2.5rem;
                    }
                }

                .inner__owner {
                    p {
                        font-size: 1.7rem;
                    }
                }
            }
        }

        &__section-faq {
            &__container {
                width: get-width("l");
            }
        }

        &__section-product {
            width: 100%;

            &__container {
                width: get-width("lg");
                margin: auto;

                .card--container {
                    &__inner-card {
                        width: inherit;
                        flex-wrap: wrap;
                        position: relative;
                        margin: 0 15px;
                    }

                    &::after {}
                }
            }
        }
    }

    .footer {
        &__content {
            &__container {
                width: get-width("lg");
            }
        }
    }
}



@media screen and (max-width: 1024px) {

    .primary {
        .btn-view {
            margin: auto;
        }

        &__section-landing {
            grid-template-rows: 80% 20%;

            &__nav {
                display: block;
                width: get-width("l");
                height: 50%;
                margin-top: 90px;

                &__branding {
                    display: block;
                    margin: auto;
                }

                &__navigation {
                    display: block;
                    margin: auto;

                    ul {
                        width: 540px;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
            }
        }

        &__section-about {
            width: get-width("l");
            padding: 0;
            margin-top: 100px;

            &__showcase {
                display: block;
                width: get-width("l");

                .showcase_frame,
                .showcase_caption {
                    width: 100%;
                }

            }

            &__showcase {
                .owl-slider {
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                }

                .showcase_caption {
                    .caption_title {
                        margin: 20px auto;
                        text-align: center;

                        &::after {
                            display: none;
                        }
                    }

                    .caption_desc {
                        margin: 20px auto;
                        text-align: center;
                        width: 70%;

                        &--title {}
                    }

                    .caption_btn {
                        margin: 250px auto 0;
                        text-align: center;
                    }
                }
            }
        }

        &__section-services {
            width: 100%;

            &__container {
                width: get-width("l");
                margin: auto;

                .card--container {
                    width: inherit;

                    &__inner-card {
                        margin: -1px;

                        .picture-container {
                            .picture-holder {
                                height: 48%;
                            }
                        }
                    }
                }
            }
        }

        &__parallax {
            &__quote {
                .inner__message {
                    h4 {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        &__section-faq {
            &__container {
                width: get-width("l");
            }
        }

        &__section-product {
            width: 100%;

            &__container {
                width: get-width("l");
                margin: auto;

                .card--container {
                    width: inherit;
                    flex-wrap: wrap;
                    position: relative;

                    &__inner-card {
                        margin: 20px;
                        width: 293px;
                    }

                    &::after {
                        color: white;
                        content: 'Click the button to view more';
                        position: absolute;
                        bottom: 255px;
                        left: 40%;
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }

    .footer {
        &__content {
            &__container {
                width: get-width('l');
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .primary {
        .btn-view {
            margin: auto;
        }

        &__section-landing {
            grid-template-rows: 80% 20%;

            &__nav {
                display: block;
                width: get-width("l");
                height: 50%;
                margin-top: 90px;

                &__branding {
                    display: block;
                    margin: auto;
                }

                &__navigation {
                    display: block;
                    margin: auto;

                    ul {
                        text-align: center;
                        width: 540px;
                        margin: 0 auto;
                    }
                }
            }
        }

        &__section-about {
            width: get-width("l");
            padding: 0;
            margin-top: 100px;

            &__showcase {
                display: block;
                width: get-width("l");

                .showcase_frame,
                .showcase_caption {
                    width: 100%;
                }

            }

            &__showcase {
                .owl-slider {
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                }

                .showcase_caption {
                    .caption_title {
                        margin: 20px auto;
                        text-align: center;

                        &::after {
                            display: none;
                        }
                    }

                    .caption_desc {
                        margin: 20px auto;
                        text-align: center;
                        width: 70%;

                        &--title {}
                    }

                    .caption_btn {
                        margin: 250px auto 0;
                        text-align: center;
                    }
                }
            }
        }

        &__section-services {
            width: 100%;

            &__container {
                width: get-width("l");
                margin: auto;

                .card--container {
                    width: inherit;

                    &__inner-card {
                        margin: -1px;

                        .picture-container {
                            .picture-holder {
                                height: 48%;
                            }
                        }
                    }
                }
            }
        }

        &__parallax {
            &__quote {
                .inner__message {
                    h4 {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        &__section-faq {
            &__container {
                width: get-width("l");
            }
        }

        &__section-product {
            width: 100%;

            &__container {
                width: get-width("l");
                margin: auto;

                .card--container {
                    width: inherit;
                    flex-wrap: wrap;
                    position: relative;

                    &__inner-card {
                        margin: 20px;
                        width: 293px;
                    }

                    &::after {
                        color: white;
                        content: 'Click the button to view more';
                        position: absolute;
                        bottom: 255px;
                        left: 40%;
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }

    .footer {
        &__content {
            &__container {
                width: get-width('l');
            }
        }
    }
}