$grid-breakpoints: (xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1366px,
    xl: 1920px);

$container-max-widths: (sm: 720px,
    md: 930px,
    l: 1000px,
    lg: 1280px,
    xl: 1800px);

@function get-breakpoints($key: "") {
    @return map-get($grid-breakpoints, $key);
}

@function get-width($key: "") {
    @return map-get($container-max-widths, $key);
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    //CSS

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    //CSS

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    .primary {
        &__section-landing {
            grid-template-rows: 80% 20%;

            &__nav {
                display: block;
                width: get-width("sm");
                height: 50%;
                margin-top: 90px;

                &__branding {
                    display: block;
                    margin: auto;
                }

                &__navigation {
                    display: block;
                    margin: auto;

                    ul {
                        width: 540px;
                        margin: 0 auto;
                    }
                }
            }
        }

        &__section-about {
            width: get-width("sm");
            padding: 0;
            margin-top: 100px;

            &__showcase {
                display: block;
                width: get-width("sm");

                .showcase_frame,
                .showcase_caption {
                    width: 100%;
                }

            }

            &__showcase {
                .owl-slider {
                    left: 45%;
                }

                .showcase_caption {
                    .caption_title {
                        margin: 20px auto;
                        text-align: center;

                        &::after {
                            display: none;
                        }
                    }

                    .caption_desc {
                        margin: auto;
                        text-align: center;

                        &--title {}
                    }
                }
            }
        }

    }

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //CSS

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    //CSS

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    .primary {
        &__section-landing {
            grid-template-rows: 80% 20%;

            &__nav {
                display: block;
                width: get-width("sm");
                height: 50%;
                margin-top: 90px;

                &__branding {
                    display: block;
                    margin: auto;
                }

                &__navigation {
                    display: block;
                    margin: auto;

                    ul {
                        width: 540px;
                        margin: 0 auto;
                    }
                }
            }
        }

        &__section-about {
            width: get-width("sm");
            padding: 0;
            margin-top: 100px;

            &__showcase {
                display: block;
                width: get-width("sm");

                .showcase_frame,
                .showcase_caption {
                    width: 100%;
                }

            }

            &__showcase {
                .owl-slider {
                    left: 45%;
                }

                .showcase_caption {
                    .caption_title {
                        margin: 20px auto;
                        text-align: center;

                        &::after {
                            display: none;
                        }
                    }

                    .caption_desc {
                        margin: auto;
                        text-align: center;

                        &--title {}
                    }
                }
            }
        }

    }
}