// FONT 
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Prestage-Regular";
    src: url("../assets/fonts/Prestage Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf") format('truetype');
}

$color-dblue-opac: rgba(1, 43, 59, 0.3);
$color-blue: #7DA5BE;
$font-color: #828282;
$font-color02: #F0ECE0;
$base-color: #CDA270;
$color-white: white;
$seal-color: #BEA184;
$seal-color-opac: rgba(190, 161, 132, 0.2);
$shadow-color-opac: rgba(0, 0, 0, 0.2);
$container-color: #F0ECE0;
$background-color: #504037;
$background-color-opac: rgba(80, 64, 55, 0.2);
$font-Montserrat-b: 'Montserrat-Bold';
$font-Montserrat-r: "Montserrat-Regular";
$font-poppins-r: "Poppins-Regular";
$font-poppins-b: "Poppins-Bold";
h1,h2,h3,h4,p{
    color: $font-color02;
    font-family: $font-poppins-r;
    line-height: 1.35em;
    font-weight: 600;
    margin-top: 0.54em;
    margin-bottom: 0.54em;
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat-Regular", sans-serif;
    background-color: #F0ECE0;
}

// VARIABLE
$grid-breakpoints: (xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1366px,
    xl: 1920px);

$container-max-widths: (sm: 720px,
    md: 930px,
    lg: 1280px,
    xl: 1800px);

@function get-breakpoints($key: "") {
    @return map-get($grid-breakpoints, $key);
}

@function get-width($key: "") {
    @return map-get($container-max-widths, $key);
}



.primary {
    position: relative;
    display: grid;

    &__section-landing {
        display: grid;
        width: 100%;
        height: 1010px;
        //background-color: gray;
        background: url("../assets/img/top_img_1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0px;
        left: 0px;
        animation: slide 20s infinite;

        @keyframes slide {
            25% {
                background: url("../assets/img/top_img_7.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            50% {
                background: url("../assets/img/top_img_3.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            75% {
                background: url("../assets/img/top_img_4.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            100% {
                background: url("../assets/img/top_img_1.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &--overlay {
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }

        &__nav {
            width: get-width("xl");
            margin: 0 auto;
            height: 20%;
            position: relative;
            padding: 20px;
            display: flex;

            &__branding {
                height: 200px;
                width: 300px;
                margin-left: 25px;
                display: inline-block;

                img {
                    height: 100%;
                    /* margin: 10px; */
                    width: 100%;
                }
            }

            &__navigation {
                display: flex;
                align-items: center;
                width: 600px;
                margin: 0 0 0 auto;
                padding: 20px 0;
                display: inline-block;
                position: relative;

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }

                li {
                    display: inline;
                    margin-right: 31px;

                    a {
                        font-family: "Montserrat-Regular", sans-serif;
                        font-size: 16px;
                        text-decoration: none;
                        color: $color-white;
                    }
                }

                img {
                    position: absolute;
                    height: 35px;
                    top: 10px;
                    right: 15px;
                }

            }
        }

        &__social {
            width: 1700px;
            margin: 470px auto 0px;
            height: 20%;
            padding: 20px;
            display: flex;
            position: relative;

            &__icon {
                padding: 20px;
                height: 46px;
                position: absolute;
                right: 90px;
                bottom: 30px;

                a {
                    text-decoration: none;
                }

                img {
                    margin-left: 40px;
                }
            }
        }
    }

    //section-landing

    &__section-product {
        display: grid;
        margin: 300px auto;
        width: get-width("xl");

        &__showcase {
            width: get-width("l");
            margin: auto;
            display: flex;

            .showcase_frame,
            .img-overlay {
                position: relative;
                width: 550px;
                height: 480px;

                .img-overlay {
                    position: absolute;
                    background-color: $background-color-opac;
                    
                }

                img {
                    height: 100%;
                    width: 100%;

                }
            }

            .showcase_caption {
                width: 700px;
                height: 480px;
                background: $background-color;
                position: relative;
                .caption_title{
                    font-size: 3em;
                    margin: 110px 60px 0;
                    &::after{
                        content: ' ';
                        display: block;
                        width: 480px;
                        height: 2px;
                        margin: 0.18em 0;
                        background-color: #b18857;
                    }
                }
                .caption_desc{
                    font-size: 1.5em;
                    font-weight: 400;
                    font-style: normal;
                    margin: 20px 60px 0;
                }
                .btn-view{
                    font-family: $font-poppins-r;
                    font-weight: 400;
                    font-size: 25px;
                    background-color: $container-color;
                    text-decoration: none;
                    padding: 10px 30px;
                    color: $background-color;
                    position: absolute;
                    right: 155px;
                    bottom: 40px;
                }
            }
        }
    }
}