// FONT 


@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../../assets/fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../../assets/fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../../../assets/fonts/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Prestage-Regular";
    src: url("../../../assets/fonts/Prestage Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../../../assets/fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../../../assets/fonts/Poppins-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Sacramento-Regular";
    src: url("../../../assets/fonts/Sacramento-Regular.ttf") format('truetype');
}



$darktheme-background: #0D0F11;
$darktheme-textcolor-gold: #FBC403;
$darktheme-buttoncolor-brown: #BF9456;
$darktheme-card-bg: #1A1D21;
$darktheme-card-bg2:#23262A;
$color-darkgold: #b18857;
$color-dblue-opac: rgba(1, 43, 59, 0.3);
$color-blue: #7DA5BE;
$font-color: #828282;
$font-color02: #F0ECE0;
$base-color: #CDA270;
$color-white: white;
$seal-color: #BEA184;
$seal-color-opac: rgba(190, 161, 132, 0.2);
$shadow-color-opac: rgba(0, 0, 0, 0.2);
$container-color: #F0ECE0;
$container-color02: #E9E4D0;
$background-color: #504037;
$background-color-opac: rgba(80, 64, 55, 0.2);
$font-Montserrat-b: 'Montserrat-Bold';
$font-Montserrat-r: "Montserrat-Regular";
$font-poppins-r: "Poppins-Regular";
$font-poppins-b: "Poppins-Bold";
$font-sacramento-r: "Sacramento-Regular";

h1,
h2,
h3,
h4,
p {
    color: $font-color02;
    font-family: $font-poppins-r;
    line-height: 1.35em;
    font-weight: 600;
    margin-top: 0.54em;
    margin-bottom: 0.54em;
}


* {
    padding: 0;
    margin: 0;

}

body {
    font-family: "Montserrat-Regular", sans-serif;
    background-color: $darktheme-background;
}

// VARIABLE
$grid-breakpoints: (xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1366px,
    xl: 1920px,
    xxl: 2000px,
    xxxl: 4000px);

$container-max-widths: (sm: 720px,
    md: 930px,
    lg: 1280px,
    xl: 1800px);

@function get-breakpoints($key: "") {
    @return map-get($grid-breakpoints, $key);
}

@function get-width($key: "") {
    @return map-get($container-max-widths, $key);
}



.primary {
    position: relative;
    display: grid;


    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 10px;
        z-index: 99;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: $background-color;
        font-family: $font-poppins-r;
        font-weight: 600;
        color: $container-color;
        border: 0;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;

        img {
            width: 50%;
            width: 50%;
            transform: rotateX(150deg) rotateY(0deg) rotateZ(0deg);
            -webkit-transform: rotateX(150deg) rotateY(0deg) rotateZ(0deg);
            filter: invert(100%);

        }
    }

    #myBtn:hover {
        background: $color-darkgold;
    }

    &__section-landing {
        display: grid;
        width: 100%;
        height: 95vh;
        background: url("../../images/img04_background_res_2k.jpg") no-repeat center;
        background-size: cover;
        position: relative;
        top: 0px;
        left: 0px;
        animation: slide 20s infinite;

        @keyframes slide {
            25% {
                background: url("../../images/img06_background_res_2k.jpg") no-repeat center;
                background-size: cover;
            }

            50% {
                background: url("../../images/img02_background_res_2k.jpg") no-repeat center;
                background-size: cover;
            }

            75% {
                background: url("../../images/img09_background_res_2k.jpg") no-repeat center;
                background-size: cover;
            }

            100% {
                background: url("../../images/img04_background_res_2k.jpg") no-repeat center;
                background-size: cover;
            }
        }

        &--overlay {
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }

        &__nav {
            width: get-width("xl");
            margin: 0 auto;
            height: 20%;
            position: relative;
            padding: 20px;
            display: flex;

            &__branding {
                height: 140px;
                width: 320px;
                margin: 40px 25px;

                display: inline-block;

                img {
                    height: 100%;
                    /* margin: 10px; */
                    width: 100%;
                }
            }

            &__navigation {
                display: flex;
                align-items: center;
                width: 600px;
                margin: 0 0 0 auto;
                padding: 20px 0;
                display: inline-block;
                position: relative;

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }

                li {
                    display: inline;
                    margin: 0 30px;

                    a {
                        font-family: "Montserrat-Regular", sans-serif;
                        font-size: 16px;
                        text-decoration: none;
                        color: $color-white;
                    }
                }

                img {
                    position: absolute;
                    height: 35px;
                    top: 10px;
                    right: 15px;
                }

            }
        }

        &__arrow {
            width: 60px;
            height: 60px;
            position: relative;
            margin: 0 auto;

            .ct-btn-scroll {
                z-index: 9;
                border-radius: 50%;
                -webkit-transition: background-color 0.25s ease-in-out;
                transition: background-color 0.25s ease-in-out;

                img {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                }
            }

        }

        &__social {
            width: 1700px;
            margin: 470px auto 0px;
            height: 20%;
            display: flex;
            position: relative;

            &__icon {
                padding: 20px;
                height: 46px;
                /*position: absolute;
                right: 90px;
                bottom: 30px;*/
                margin: auto 0 0 auto;

                a {
                    text-decoration: none;
                }

                img {
                    margin-left: 40px;
                }
            }
        }
    }

    &__center {
        display: grid;
        // width: 300px;
        // height: 250px;
        margin: 130px auto 0;

        &--inner {
            &__logo {
                margin: auto;
            }
        }

        img {
            width: 280px;
        }

        &--flex {
            display: flex;
            width: 250px;
            height: 100px;
            border-right: 2px solid $background-color;
            padding-right: 30px;

            img {
                margin-right: -25px;
            }
        }

        &__message {
            text-align: center;
            font-weight: 400;
            color: $darktheme-textcolor-gold;

            &--flex {
                margin: 10px 30px 0;
            }
        }
    }

    &__section-about {
        display: grid;
        margin: 0 auto;
        width: get-width("xl");
        /*background-color: $container-color02;*/
        padding: 30px 50px;

        &__showcase {
            width: get-width("lg");
            margin: auto;
            display: flex;

            .showcase_frame,
            .img-overlay {
                position: relative;
                width: 550px;
                height: 480px;
                background-color: rgba(80, 64, 55, 0);

                /* -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -ms-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;
                transition: 1s ease-in-out;

                .img-overlay:hover {
                    background-color: rgba(80, 64, 55, 0.4);
                }
                */
                .img-overlay {
                    position: absolute;
                }

                .mySlides {
                    width: 100%;
                    display: none;
                    height: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        -webkit-transition: all 0.5s ease-out;
                        -moz-transition: all 0.5s ease-out;
                        -ms-transition: all 0.5s ease-out;
                        -o-transition: all 0.5s ease-out;
                        transition: all 0.5s ease-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }

            .owl-slider {
                text-align: center;
                margin-top: -37px;

                .dot {
                    height: 10px;
                    width: 10px;
                    margin: 0 2px;
                    background-color: #bbb;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }

                .active {
                    background-color: $base-color;
                }
            }

            .showcase_caption {
                width: 730px;
                height: 480px;
                /*background: $background-color;*/
                position: relative;

                .caption_title {
                    font-size: 2.5em;
                    // margin: 110px 60px 0 130px;
                    font-family: $font-poppins-r;
                    font-weight: 100;
                    margin: 0 0 0 52px;
                    width: 450px;

                    &::after {
                        content: ' ';
                        display: block;
                        width: 25px;
                        height: 2px;
                        margin: 0.18em 0;
                        background-color: $darktheme-textcolor-gold;
                    }
                }

                .caption_desc {
                    font-size: 0.9em;
                    font-weight: 400;
                    margin: 0 0 0 52px;
                    width: 450px;
                    font-family: 'Segoe UI';
                    line-height: 20px;

                    &--title {
                        font-size: 1.4em;
                        color: $darktheme-textcolor-gold;
                        margin: 0 0 10px 52px;
                    }
                }

                .btn-view {
                    font-family: 'Segoe UI', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    background: $darktheme-buttoncolor-brown;
                    text-decoration: none;
                    border: 2px solid $color-darkgold;
                    padding: 6px 40px;
                    color: $darktheme-background;
                    position: absolute;
                    // right: 115px;
                    left: 50px;
                    bottom: 0;
                    box-shadow: inset 0 0 0 0 $background-color;
                    -webkit-transition: all ease 0.8s;
                    -moz-transition: all ease 0.8s;
                    transition: all ease 0.8s;

                    &:hover {
                        box-shadow: inset 200px 0 0 0 $darktheme-background;
                        color: $darktheme-textcolor-gold;
                        border: 2px solid $darktheme-textcolor-gold;
                    }
                }
            }
        }
    }


    &__section-services {
        position: relative;
        display: grid;
        margin: 0 0 0;
        padding: 70px 0;


        &__container {
            margin: 0 auto;
            width: get-width("xl");
            display: flex;

            .card--container {
                margin: 0 auto;
                display: flex;

                &__inner-card {
                    height: 600px;
                    width: 460px;
                    background: $darktheme-card-bg;
                    margin: 0 20px;
                }
            }

        }
    }

    &__parallax {
        position: relative;
        z-index: -2;

        @media all and (max-width: get-breakpoints("xxxl")) {
            background: url("../../images/img01_background_res_6k.jpg") no-repeat center;
            margin: 210px 0 0;
            width: 100%;
            background-attachment: fixed;
            height: 500px;
        }

        @media all and (max-width: get-breakpoints("xxl")) {
            background: url("../../images/img01_background_res_2k.jpg") no-repeat center;
            margin: 210px 0 0;
            width: 100%;
            background-attachment: fixed;
            height: 500px;
        }

        @media all and (max-width: get-breakpoints("xl")) {
            background: url("../../images/img01_background_res_1k.jpg") no-repeat center;
            margin: 210px 0 0;
            width: 100%;
            background-attachment: fixed;
            height: 500px;
        }


        &__overlay {
            z-index: -1;
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
        }

        &__quote {
            margin: auto;
            width: 80vw;
            //    height: 50%;
            display: grid;

            .inner__message {
                margin: 180px auto 0;

                h4 {
                    font-size: 4em;
                    font-weight: 100;
                    margin: 0;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }

            .inner__owner {
                margin: 0 auto;

                p {
                    font-family: 'Sacramento', cursive;
                    font-family: $font-sacramento-r;
                    font-size: 2em;
                    font-weight: 100;
                }
            }
        }
    }

    &__section-faq {
        height: 500px;
        width: 100%;
        position: relative;
        margin-top: 20px;

        &__container {
            width: 1400px;
            margin: auto;
            display: flex;

            &__left {
                width: 50%;
                height: 100%;
            }

            &__right {
                width: 50%;
                height: 100%;
            }
        }

        .faqs_container_wrapper {
            width: calc(100% - 40px);
            padding: 0 0 20px 0;
            margin: 20px 20px 0 20px;
            float: left;
        }

        .faq_container {
            width: calc(100% - 40px);
            padding: 0;
            margin: 20px 20px 0 20px;
            background: $darktheme-card-bg2;
            border-radius: 3px 3px 0 0;
            float: left;
            position: relative;
            overflow: hidden;
        }

        .faq_up-arrow,
        .faq_down-arrow {
            .icon {
                width: 80%;
                height: 80%;
                margin: auto;

                span {
                    display: table;
                    margin: 0 auto;
                    color: white;
                    font-size: 26px;
                    font-weight: 800;

                }
            }
        }

        .faq_down-arrow {
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            background: $darktheme-card-bg;
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }

        .faq_up-arrow {
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            background: $darktheme-card-bg2;
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .faq_container h3 {
            width: 100%;
            height: 40px;
            padding: 0 0 0 40px;
            margin: 0;
            background: $darktheme-card-bg;
            border-bottom: 1px solid $darktheme-textcolor-gold;
            border-radius: 3px 3px 0 0;
            float: left;
            color: white;
            font-weight: 100;
            font-family: $font-poppins-r;
            line-height: 40px;
            cursor: pointer;
        }

        .faq_container p {
            width: 100%;
            padding: 0 40px;
            margin: 20px 0 0 0;
            float: left;
            font-weight: 100;

        }

        .faq_container p:last-of-type {
            padding: 0 20px 20px 40px;
        }

        .answer {
            display: inline-block;
            width: 100%;
            height: auto;
            display: none;

            .highlight {
                color: $darktheme-textcolor-gold;
                font-style: italic;
                font-weight: 300;
                margin: 0 20px 0 0;
            }
        }
    }
}

// primary end