.c-btn01{
    padding:0px 50px;
    border-radius:25px;
    color: $colortext-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    @include is-pc{
        @include font-line(46);
    }
    @include is-tablet{
        @include font-line(94);
    }
    @include is-sp{
        @include font-line(49);
    }
    &--color01{
        background-color: $colortext01;
    }
    &--color02{
        background-color: $colortext03;
    }
    img{
        transform: translateX(36px);
        width: 50px;
        @include is-tablet{
            width:64px;
        }
    }

}