.c-btn01{
    padding:0px 50px;
    border-radius:40px;
    color: $colortext-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    @include is-pc{
        @include font-line(62);
    }
    &--color01{
        background-color: $colortext01;
    }
    &--color02{
        background-color: $colortext03;
    }

}