.c-btn01{
    padding:0px 50px;
    border-radius:50px;
    color: $colortext-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    @include is-pc{
        @include font-line(46);
    }
    @include is-tablet{
        @include font-line(46);
    }
    @include is-sp{
        @include font-line(49);
    }
    @include is-sm{
        @include font-line(28.8);
        border-radius: 10px;
    }
    &--color01{
        background-color: $colortext01;
    }
    &--color02{
        background-color: $colortext03;
    }
    img{
        transform: translateX(36px);
        width: 50px;
        @include is-sm{
            width:20px;
        }
    }

}