.c-title{
    &__title{
        img{
            height:85.94px;
        }
    }
    &__subtitle{
        padding-top:20px;
        @include font-line(24);
        @include is-sm{
            @include font-line(18);
        }
        &--color01{
            color:$colortext01;
        }
        &--color02{
            color:$colortext02;
        }
        &--color03{
            color:$colortext03;
        }
        &--color04{
            color:$colortext04;
        }
    }
    &__title,&__subtitle{
        text-align: center;
    }
    &__desc{
        padding-top:65px;
        &--v2{
            padding-top:0px;
        }
        @include font-line(18);
        @include is-tablet{
            padding-top:0;
        }
        @include is-sp{
            padding-top:40px;
        }
        @include is-sm{
            padding-top:40px;
            @include font-line(16);
        }
    }
}