@charset "UTF-8";
@import "../core/variables";
@import "../core/mixins";

 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 HERO
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.hero{
    position:relative;
    background:url('/assets/img/common/top-img.png');
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index:99;
    &__logo{
        position: absolute;
        left:5%;
        width:187px;
    }
    &__texts{
        position: absolute;
        bottom:88px;
        left:-5%;
        @include is-between{
            width:75vw;
        }
        @include is-tablet{
            width:80vw;
        }
    }
}
 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 OBJECTIVES
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.objectives{
    position:relative;
    background:url('/assets/img/common/bg-objectives.png');
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:99;
    &__inner{
        @include is-between{overflow:hidden;}
        @include is-tablet{overflow:hidden;}
        @include is-sp{overflow:hidden;}
        @include is-sm{overflow:hidden;}
        }
    &__top{
        @include is-tablet{
            margin-top:10px !important;
        }
        @include is-sp{
            margin-top:10px !important;
        }
        @include is-sm{
            margin-top:10px !important;
        }
    }
    &__bottom{
        text-align:center;
    }
    .checklist{
        @include is-between{
            letter-spacing:-5px;
        }
        ul{
            position:relative;
        }
        li{
            display:flex;
            align-items: center;
            @include is-pc{
                @include font-line(40);
            }
            @include is-tablet{
                @include font-line(30);
                padding:10px 0;
            }
            @include is-sp{
                @include font-line(19.8);
                padding:10px 0;
            }
            @include is-sm{
                @include font-line(16);
                padding:10px 0;
            }
        }
        &__img{
            @include is-sp{
            width:5%;
            }
            @include is-sm{
                width:30px;
            }
        }
        &__text{
            position: relative;
            margin-left:10px;
            @include is-sm{
                margin-left:5px;
            }
        }

        &__overlay{
            position: absolute;
            height: 2vh;
            width: 100%;
            background-color:$color-overlay;
            bottom:13%;
            z-index:-1;
            left:0;
            right:0;
            margin:0 auto;
            @include is-sp{
                height:1.15vh;
            }
            @include is-sm{
                height: 1vh;

            }
        }
    }
    .bubbletext{
        transform:translateY(-10%);
        img{
            width:188px;
            @include is-tablet{
                width:151px;
            }
            @include is-sp{
                width:25%;
            }
            @include is-sm{
                width:30%;
            }
        }
    }

    .red-girl{
        max-width:540px;
        position: absolute;
        right:0%;
        bottom:38%;
        z-index:-1;
        width:38.8%;
        @include is-tablet{
            bottom:50%;
            width:40%;
        }
        @include is-sp{
            bottom:51%;
            width:40%;
        }
        @include is-sm{
            display:none;
        }
    }
    .link{
        margin:0 auto;
        img{
            width:840px;
        }
    }
    
    
}
 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 CONCEPT
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
 .concept{
    position: relative;
    &__overlay{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0%, -50%);
      width: 40vw;
      z-index:-1;
      @include is-tablet{
          top:55%;
      }
      @include is-sp{
          left:-50%;
          width:86vw;
          top:55%;
      }
      @include is-sm{
          position: relative;
          width:100vw;
          transform: translate(0%, 0%);
      }
    }
    &__inner{
        @include is-pc{
            margin-top:100px;
        }
        @include is-tablet{
            margin-top:70px;
        }
    }
    &__top{}
    &__bottom{
        @include is-sm{
            display: block !important;
        }
    }
    &__left{
        @include is-tablet{
            width:40%;
        }
        @include is-sp{
            width:40%;
        }
        @include is-sm{
            width:40%;
        }
    }
    &__right{
        @include is-tablet{
            width:60%;
        }
        @include is-sp{
            width:60%;
        }
        @include is-sm{
            width:100%;
        }
    }

    &__desc{
        @include is-sm{
            padding: 0 10px;
        }
    }
}
 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 COMMITMENT
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
 .commitment{
    position:relative;
    overflow-x:hidden;
    &__overlay{
      position: absolute;
      width: 40vw;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
      z-index:-1;
      @include is-tablet{
        top:55%;
      }
      @include is-sp{
          right:-32%;
          width:75vw;
          top:55%;
      }
      @include is-sm{
            position: relative;
            width:100%;
            transform: translate(0%, 0%);
            margin: 30px 0;
        }
    }
    &__inner{
        @include is-pc{
            margin-top:100px;
        }
    }
    &__bottom{
        @include is-sm{
            display: block !important;
        }
    }
    &__left{
        @include is-tablet{
            width:60%;
        }
        @include is-sp{
            width:60%;
        }
        @include is-sm{
            width:100%;
        }
    }
    &__right{
        @include is-tablet{
            width:40%;
        }
        @include is-sp{
            width:40%;
        }
        @include is-sm{
            width:40%;
        }
    }

    &__desc{
        @include is-sm{
            padding: 0 10px;
        }
    }

}
 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 PFC
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.pfc{
    position:relative;
    &__overlay{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0%, -50%);
      width: 60vw;
      z-index:-1;
      @include is-tablet{
          display:none;
      }
      @include is-sp{
          display:none;
      }
      @include is-sm{
          display:none;
      }
    }
    &__inner{
        margin-top:100px;
    }
    &__left{
        @include is-tablet{
            width:0%;
        }
        @include is-sp{
            width:0%;
        }
        @include is-sm{
            width:0%;
        }
    }
    &__right{
        @include is-tablet{
            width:100%;
            margin:0 auto;
        }
        @include is-sp{
            width:100%;
            margin:0 auto;
        }
        @include is-sm{
            width:100%;
            margin: 0 auto;
        }
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 PLAN
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.plan{
    &__inner{
        margin-top:160px;
    }
    &__title{
        justify-content: center;
        img{
            height:85.94px;
        }
    }
    &__text{
        @include font-line(22);
        font-weight:700;
        color:$colortext-primary;
    }
    &__spacer{
        height: 103px;
        @include is-tablet{
            height: 75px;
        }
        @include is-sm{
            height:50px;
        }
        @include is-sp{
            height: 75px;
        }
    }
    &__table{}
    @include is-tablet{
        &__table02:nth-child(1){
            margin-right:10px;
        }
        &__table02:nth-child(2){
            margin-left:10px;
        }
    }
    @include is-sp{
        &__table02:first-child{
            margin-right:10px;
        }

    }
    @include is-sm{
        &__table02:first-child{
            margin-right:5px;
        }

    }
    
    &__table02{
        overflow-x:scroll;
    }
    &__wrap{
        @include is-tablet{
            height:0;
        }
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 FOOTER
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.footer01{
    position:relative;
    background:url('/assets/img/common/bg-footer.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    z-index:99;
    @include is-tablet{
        background:none;
    }
    @include is-sp{
        background:none;
    }
    @include is-sm{
        background:none;
    }
    &__inner{}
    &__top{
        justify-content: center;
        @include is-tablet{
            margin:0 0 136px;
        }
        @include is-sp{
            margin:0 0 50px;
        }
        @include is-sm{
            margin: 0 0 50px;
        }
    }
    &__bottom{
        text-align:center;
        @include is-sm{margin-top:0px !important;}
    }
    &__spacer{
        height:411px;
        @include is-tablet{
            height:0;
        }
        @include is-sp{
            height:0;
        }
        @include is-sm{
            height: 0;
        }
    }
    &__btn{
        justify-content:center;
        @include is-sm{
            margin-top:50px !important;
            margin-bottom:50px !important;
        }
    }
    .logo-footer{
        text-align: center;
        img{
            width:560px;
        }

    }
    .link{

        margin:0 auto;
        img{
            width:840px;
        }
    }
    .features{
        color:$colortext-primary;
        @include is-tablet{
            margin-top:60px !important;
        }
        @include is-sp{
            margin-top:25px !important;
        }
        @include is-sm{
            margin-top:20px !important;
        }
        &__top{
            align-items: center;
        }
        &__bottom{
            margin-top:14px;
            margin-bottom:45px;
            @include is-pc{
                margin-bottom:84px;
            }
            @include is-tablet{
                margin-top:10px;
                margin-bottom:30px;
            }
            @include is-sp{
                margin-top:0px;
                margin-bottom:20px;
            }
            @include is-sm{
                margin-top:0px;
                margin-bottom:20px;
            }
        }
        &__img{
            width:68px;
            height:68px;
            @include is-sm{
                width:40px;
                height:40px;
            }
        }

        &__title{
            position:relative;
            font-weight:700;
            @include is-pc{
                @include font-line(46);
            }
            @include is-tablet{
                @include font-line(36);
            }
            @include is-sp{
                @include font-line(22);
            }
            @include is-sm{
                @include font-line(17);
            }

            margin-left:10px;
        }
        &__desc{
            padding-left: 77px;
            @include is-pc{
                @include font-line(18);
            }
            @include is-sp{
                @include font-line(16);
            }
            @include is-sm{
                @include font-line(16);
                padding-left:51px;
            }
        }

        &__overlay{
            position: absolute;
            height: 3vh;
            width: 100%;
            background-color:$color-overlay;
            left:0;
            right:0;
            bottom:13%;
            z-index:-1;
            margin:0 auto;
            @include is-sp{
                height:1.5vh;
            }
            @include is-sm{
                height: 1vh;
                width: 100%;
                bottom:20%;
            }
        }
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 COPYRIGHT
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.copyright{
    font-family: kozuka-gothic-pr6n, sans-serif !important;
    text-align:center;
    color:$colortext-secondary;
    background-color:#4C4948;
    padding:25px 0;
    @include is-tablet{
        @include font-line(14);
    }
    @include is-sp{
        @include font-line(12);
    }
    @include is-sm{
        margin-top:0 !important;
        @include font-line(12);
    }
}

  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 SLICK OVERRIDE
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.slick-dots {
    position: absolute;
    bottom: -12%;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content:url('/assets/img/common/btn.svg');
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                opacity:1;
            }
        }
        &.slick-active button:before {
            content:url('/assets/img/common/btn-active.svg');
        }
    }
}
.slick-slide {
    width: 460px;
    @include is-tablet{
        width:570px !important;
    }
    @include is-sm{
        width: 300px !important;
    }
}
 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 SLIDECONT by mukuchi
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.slideConts {
    transition: 1s;
  }
  .slideContsL {
    transform: translate(-100%,0);
  }
  .slideContsR {
    transform: translate(100%,0);
  }
  .slideContsL.show {
    transform: translate(0, 0);
  }
  .slideContsR.show {
    transform: translate(0, 0);
  }