@charset "UTF-8";
@import "../core/variables";
@import "../core/mixins";

  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 HERO
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.hero{
    position:relative;
    background:url('/assets/img/common/top-img.png');
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index:99;
    &__logo{
        position: absolute;
        left:5%;
    }
    &__texts{
        position: absolute;
        bottom:88px;
        left:-5%;
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 OBJECTIVES
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.objectives{
    position:relative;
    background:url('/assets/img/common/bg-objectives.png');
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:99;
    &__inner{
        @include is-between{overflow:hidden;}
        @include is-tablet{overflow:hidden;}
        @include is-sp{overflow:hidden;}
        }
    &__top{
        @include is-tablet{
            margin-top:10px !important;
        }
        @include is-sp{
            margin-top:10px !important;
        }
    }
    &__bottom{
        text-align:center;
    }
    .checklist{
        @include is-between{
            letter-spacing:-5px;
        }
        ul{
            position:relative;
        }
        li{
            display:flex;
            @include is-pc{
                @include font-line(42);
            }
            @include is-tablet{
                @include font-line(30);
                padding:10px 0;
            }
            @include is-sp{
                @include font-line(19.8);
                padding:10px 0;
            }
        }
        &__img{
            @include is-sp{
            width:5%;
            }
        }
        &__text{
            position: relative;
        }
        &__overlay{
            position: absolute;
            height: 2vh;
            width: 110%;
            background-color:$color-overlay;
            bottom:13%;
            z-index:-1;
            @include is-sp{
                height:1.15vh;
            }
        }
    }
    .bubbletext{
        transform:translateY(-5%);
        @include is-sp{
            img{width:25%;}
        }
    }

    .red-girl{
        max-width:540px;
        position: absolute;
        right:0%;
        bottom:38%;
        z-index:-1;
        width:38.8%;
        @include is-tablet{
            display:none;
        }
        @include is-sp{
            display:none;
        }
    }
    
    
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 CONCEPT
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.concept{
    position:relative;
    background:url('/assets/img/common/bg-concept.png');
    width:100%;
    background-size:50%;
    background-repeat: no-repeat;
    background-position:0;
    z-index:99;
    padding:200px 0px;
    @include is-tablet{
        background:none;
        padding-top:100px;
        padding-bottom:0px;
    }
    @include is-sp{
        background:none;
        padding-top:100px;
        padding-bottom:0px;
    }
    &__left{
        @include is-tablet{
            width:0%;
        }
        @include is-sp{
            width:0%;
        }
    }
    &__right{
        @include is-tablet{
            width:90%;
            margin:0 auto;
        }
        @include is-sp{
            width:90%;
            margin:0 auto;
        }
    }
    &__img{
        position: absolute;
        left:-10%;
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 COMMITMENT
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.commitment{
    position:relative;
    background:url('/assets/img/common/bg-commitment.png');
    width:100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100%;
    z-index:99;
    padding:200px 0px;
    @include is-tablet{
        background:none;
        padding-top:100px;
        padding-bottom:0px;
    }
    @include is-sp{
        background:none;
        padding-top:100px;
        padding-bottom:0px;
    }
    &__left{
        @include is-tablet{
            width:90%;
            margin:0 auto;
        }
        @include is-sp{
            width:90%;
            margin:0 auto;
        }
    }
    &__right{
        @include is-tablet{
            width:0;
        }
        @include is-sp{
            width:0%;
        }
    }
    &__img{
        position: absolute;
        right:-30%;
    }

}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 PFC
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.pfc{
    position: relative;
    background: url('/assets/img/common/bg-pfc.png');
    width: 100%;
    background-size: 65%;
    background-repeat: no-repeat;
    z-index: 99;
    background-position-y: 70%;
    padding: 200px 0px;
    @include is-tablet{
        background:none;
        padding-top:100px;
        padding-bottom:0px;
    }
    @include is-sp{
        background:none;
        padding-top:100px;
        padding-bottom:0px;
    }
    &__top{
        @include is-tablet{
            width:90%;
            margin:0 auto;
            img{
                width:100%;
            }
        }
        @include is-sp{
            width:90%;
            margin:0 auto;
            img{width:100%;}
        }
        
    }
    &__left{
        @include is-tablet{
            width:0%;
        }
        @include is-sp{
            width:0%;
        }
    }
    &__right{
        @include is-tablet{
            width:90%;
            margin:0 auto;
        }
        @include is-sp{
            width:90%;
            margin:0 auto;
        }
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 PLAN
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.plan{
    &__inner{
        margin-top:160px;
    }
    &__title{
        justify-content: center;
    }
    &__spacer{height: 142px;}
    &__table{
        @include is-sp{
            overflow-x:scroll;
        }
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 FOOTER
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.footer01{
    position:relative;
    background:url('/assets/img/common/bg-footer.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    z-index:99;
    @include is-tablet{
        background:none;
    }
    @include is-sp{
        background:none;
    }
    &__inner{
        @include is-tablet{overflow:hidden;}
        @include is-sp{overflow:hidden;}
    }
    &__top{
        justify-content: center;
    }
    &__bottom{
        text-align:center;
    }
    &__spacer{
        height:565px;
        @include is-tablet{
            height:0;
        }
        @include is-sp{
            height:0;
        }
    }
    &__btn{
        justify-content:center;
    }
    .logo-footer{
        text-align: center;
    }
    .features{
        &__bottom{
            margin-top:14px;
            margin-bottom:86px;
        }
        &__img{
            width:68px;
            height:68px;
        }

        &__title{
            position:relative;
            font-weight:700;
            @include is-pc{
                @include font-line(46);
            }
            @include is-tablet{
                @include font-line(36);
            }
            @include is-sp{
                @include font-line(22);
            }

            margin-left:10px;
        }
        &__desc{
            padding-left: 77px;
            @include is-pc{
                @include font-line(18);
            }
            @include is-sp{
                @include font-line(14);
            }
        }
        &__overlay{
            position: absolute;
            height: 3vh;
            width: 110%;
            background-color:$color-overlay;
            bottom:13%;
            z-index:-1;
            @include is-sp{
                bottom:45%;
                height:2vh;
            }
        }
    }
}
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 COPYRIGHT
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.copyright{
    font-family: kozuka-gothic-pr6n, sans-serif !important;
    text-align:center;
    color:$colortext-secondary;
    background-color:#4C4948;
    padding:25px 0;
    @include is-tablet{
        @include font-line(14);
    }
    @include is-sp{
        @include font-line(12);
    }
}

  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 SLICK OVERRIDE
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
.slick-dots {
    position: absolute;
    bottom: -12%;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content:url('/assets/img/common/btn.svg');
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                opacity:1;
            }
        }
        &.slick-active button:before {
            content:url('/assets/img/common/btn-active.svg');
        }
    }
}
.slick-slide {
    width: 460px;
}
