// ---------------------------------------------------------------
//  Breakpoints
//
// > usage
// > @include is-pc{ content here }
//
// ---------------------------------------------------------------
@mixin is-pc {
    @media only screen and (min-width: $breakpoint-pc){
        @content;
    }
}


@mixin is-tablet {
    @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-pc - 1){
        @content;
    }
}

@mixin is-sp {
    @media only screen and (min-width: $breakpoint-sp) and (max-width: $breakpoint-tablet - 1 ){
        @content;
    }
}

@mixin is-sm {
    @media only screen and (min-width:$breakpoint-sm ) and (max-width: $breakpoint-sp - 1 ){
        @content;
    }
}

@mixin is-between{
    @media (max-width: $between-max) and (min-width: $between-min) {
        @content;
    }
}


// ---------------------------------------------------------------
//  font-line
//
// > usage
// > @include font-line(16, 20);
//
// ---------------------------------------------------------------
@mixin font-line($size, $line:null) {
    $rem: $size / $font-size-base;
    font-size: #{$rem}rem;
    @if $line !=null {
      line-height: $line / $size;
    }
  }
  


