.p-carousel{
    &__nav{
        display:flex;
        position:relative;
        z-index:9999;
        margin:0 auto;
        transform:translateY(43em);
        @include is-tablet{
            transform:translateY(42em);
        }
        @include is-sp{
            transform:translateY(38em);
        }
        @include is-sm{
            transform:translateY(450px);
        }
        .prev-arrow{
            text-align: left;
            width: 50%;
        }
        .next-arrow{
            text-align: right;
            width: 50%;
        }
        .prev-arrow,.next-arrow{
            cursor: pointer;
        }
        .prev-arrow,
        .next-arrow{
            img{
                @include is-tablet{
                    width:25%;
                }
                @include is-sp{
                    width:25%;
                }
                @include is-sm{
                    width:25%;
                }
            }
        }
    }
    &__cards{
        margin:0px 20px;
    }
    &__title{
        text-align:center;
        font-weight:700;
        @include font-line(35);
        @include is-sm{
            @include font-line(24);
        }
    }
    &__img{
        img{
            margin:0 auto;
        }
    }
    &__table{
        width:100%;
        text-align:center;
    }
}