.p-carousel{
    &__nav{
        display:flex;
        position:relative;
        z-index:9999;
        margin:0 auto;
        transform:translateY(31em);
        @include is-tablet{
            transform:translateY(29em);
        }
        @include is-sp{
            transform:translateY(27em);
        }
        @include is-sm{
            transform:translateY(374px);
        }
        .prev-arrow{
            text-align: left;
            width: 50%;
        }
        .next-arrow{
            text-align: right;
            width: 50%;
        }
        .prev-arrow,.next-arrow{
            cursor: pointer;
        }
        .prev-arrow,
        .next-arrow{
            img{
                width:77px;
                @include is-sp{
                    width:50px;
                }
                @include is-sm{
                    width:50px;
                }
            }
        }
    }
    &__cards{
        margin:0px 20px;
    }
    &__title{
        text-align:center;
        font-weight:700;
        color:$colortext-primary;
        @include font-line(30);
        @include is-sm{
            @include font-line(20);
        }
    }
    &__img{
        img{
            margin:0 auto;
        }
    }
    &__table{
        width:100%;
        text-align:center;
    }
}